@model QouteCalculatorViewModel

@{
    ViewData["Title"] = "Your Qoute";
}

<div class="container col-6">

    <div class="row text-center">
        <h1>Your Qoute</h1>
    </div> 
    
    <div class="row">
        <div class="col">
            <h3>Your Information</h3>
        </div>
        <div class="col" style="text-align:right;">
            <button type="button" class="btn btn-success">Edit</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span><strong>Name</strong></span>
        </div>
        <div class="col" style="text-align:right;">
            <span>@Model.UserData.FirstName @Model.UserData.LastName</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span><strong>Mopbile</strong></span>
        </div>
        <div class="col" style="text-align:right;">
            <span>@Model.UserData.Mobile</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span><strong>Email</strong></span>
        </div>
        <div class="col" style="text-align:right;">
            <span>@Model.UserData.Email</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Finance Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span><strong>Finance Amount</strong></span>
        </div>
        <div class="col" style="text-align:right;">
            <span>$@Model.UserData.AmountRequired</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <span>---------------------------------------------------------------</span>
        </div>
        <div class="col-md-3" style="text-align:right;">
            <span>over @Model.UserData.Term months</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span><strong>Repayments from</strong></span>
        </div>
        <div class="col" style="text-align:right;">
            <span>$@Model.WeeklyRepayment</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <span>---------------------------------------------------------------</span>
        </div>
        <div class="col-md-3" style="text-align:right;">
            <span>weekly</span>
        </div>
    </div>

    <div class="row text-center  mt-2">
        <div class="col">
            <a href="/apply-now/@Model.UserData.Id" class="btn btn-success">Apply Now</a>
       </div>
    </div>

    <div class="row text-center  mt-2">
        <div class="col">
            <p>
                Total repayments $@Model.TotalRepayment, made up of an establishment fee of $@Model.EstablismentFee,
                interest of $@Model.Interest. The repayment amount is based on the variables
                selected, is subject to our assessment and suitability, and other important
                terms and conditions apply.

            </p>
        </div>
    </div>
</div>
